/* Custom CSS for additional styling */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fd0dbd;
    color: yellow;
}

footer a {
    text-decoration: none;
    color: yellow;
}

footer a:hover {
    text-decoration: underline;
}