{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<h1>Customer Detail</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Email</th>
        <th>Updated By</th>
    </tr>
    <tr>
        <td>{{ customer.customer_id }}</td>
        <td>{{ customer.first_name}}</td>
        <td>{{ customer.second_name}}</td>
        <td>{{ customer.email}}</td>
        <td>{{ customer.updated_by}}</td>
    </tr>
</table>

<div>
    <a href="{% url 'customer-delete' customer.pk %}" class="btn btn-danger btn-sm">Delete</a>
    <a href="{% url 'customer-edit' customer.pk %}" class="btn btn-warning btn-sm">Edit</a>
</div>

{% endblock content %}
