{% extends 'base.html' %}

{% block title %}Customer List{% endblock %}

{% block content %}
<h1>Customer List</h1>


<a href="{% url 'customer_list' %}" class="btn btn-primary mb-3">Create New Item</a>

<table>
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td><a href="{% url 'customer_detail' customer.customer_id %}">{{ customer.customer_id }}</a></td>
        <td><a href="{% url 'customer_detail' customer.customer_id %}">{{ customer.first_name }}  {{customer.second_name}}</a></td>
    </tr>
    {% endfor %}
</table>
    
{% endblock %}
