{% extends 'base.html' %}

{% block title %}Staff List{% endblock %}

{% block content %}
<h1>Staff List</h1>


<a href="{% url 'staff-create' %}" class="btn btn-primary mb-3">Add New Staff</a>

<table>
    <tr>
        <th>Staff ID</th>
        <th>Staff Name</th>
    </tr>
    {% for staff in staffs %}
    <tr>
        <td><a href="{% url 'staff_detail' staff.staff_id %}">{{ staff.staff_id }}</a></td>
        <td><a href="{% url 'staff_detail' staff.staff_id %}">{{ staff.first_name }}  {{staff.second_name}}</a></td>
    </tr>
    {% endfor %}
</table>
    
{% endblock %}