{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}
{% block content %}
<h1>Transactions</h1>

<a href="{% url 'transaction-create' %}" class="btn btn-primary mb-3">New Transaction</a>

<table>
    <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Car Reg</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td><a href="{% url 'transaction_detail' transaction.transaction_number %}">{{ transaction.transaction_number }}</a></td>
        <td>{{ transaction.transaction_type }}</td>
        <td>{{ transaction.car_registration}}</td>        
    </tr>
    
    {% endfor %}
</table>

{% endblock %}

