{% extends 'base.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<h1>Transactions</h1>


<table>
    <tr>
        <td>Number</td>
        <td>Type</td>
        <td>Car Reg</td>
        <td>Price</td>
        <td>Customer</td>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.transaction_number }}</td>
        <td>{{ transaction.transaction_type }}</td>
        <td>{{ transaction.car_registration}}</td>
        <td>{{ transaction.price }}</td>
        <td>{{ transaction.customer_ID}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


<!--
<ul>
    {% for transaction in transactions %}
    <li>{{ transaction.transaction_number }}</li>
    <li>{{ transaction.transaction_type }}</li>
    <li>{{ transaction.car_registration}}</li>
    <li>{{ transaction.price }}</li>
    <li>{{ transaction.date_completed }}</li>
    <li>{{ transaction.customer_id}}</li>
    <li>{{ transaction}}</li>
    <li>************</li>
    {% endfor %}
</ul> -->
